@import "variables.scss";
@import "util.scss";

.testApp { // body class
	background-color: $white;

	header {
		margin: 56px 0 0 0;
	}

	.container {
		.main {
			.no-bullets  {
				padding-left: 0;
				padding-right: 20px;
				margin-right: 20px;
				li:first-child {
					list-style-type: none;
					margin: 0;
					padding: 0;
				}
			}
			.breed-listing {
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				height: 500px;
			} 
		}
	}

	.slick {
		.carousel-item {
			height: 65vh;
			min-height: 300px;
			background: no-repeat center center scroll;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}

		.slick-prev {
			left: 0;
		}

		.slick-next {
			right: 0;
		}
		.slick-slider {
			margin-bottom: 0;
		}
	}
}